In [1]:
import nltk
nltk.download('vader_lexicon') #only one time download required

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\shaba\AppData\Roaming\nltk_data...

True

In [10]:
#nstall the NLTK twitter library --> conda install nltk[twitter] or by pip command
from nltk.sentiment.vader import SentimentIntensityAnalyzer

sia = SentimentIntensityAnalyzer()

In [46]:
#load the file
import numpy as np
import pandas as pd

df = pd.read_csv('../TextFiles/moviereviews.tsv', sep='\t')

In [47]:
df['sentiment'].value_counts() #checking no of records before removing empty or NaN records

pos    1000
neg    1000
Name: sentiment, dtype: int64

In [48]:
# remove empty strings or NaN, if any
df.dropna(inplace=True)

blanks = []  

for i,l,r in df.itertuples(): 
    if type(r)==str:           
        if r.isspace():         
            blanks.append(i)    

df.drop(blanks, inplace=True)

In [63]:
df['sentiment'].value_counts()#checking no of records after removing empty or NaN records

pos    969
neg    969
Name: sentiment, dtype: int64

In [67]:
#add polarity/compound scored and labels from the compound scores to the df
df['ps'] = df['comment'].apply(lambda review: sia.polarity_scores(review))

In [68]:
df.head()

,sentiment,comment,scores,compound,comp_score,ps
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125,neg,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co..."
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618,neg,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com..."
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.067, 'neu': 0.783, 'pos': 0.15, 'com...",0.9953,pos,"{'neg': 0.067, 'neu': 0.783, 'pos': 0.15, 'com..."
3,pos,according to hollywood movies made in last few...,"{'neg': 0.069, 'neu': 0.786, 'pos': 0.145, 'co...",0.9972,pos,"{'neg': 0.069, 'neu': 0.786, 'pos': 0.145, 'co..."
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.09, 'neu': 0.822, 'pos': 0.088, 'com...",-0.7264,neg,"{'neg': 0.09, 'neu': 0.822, 'pos': 0.088, 'com..."

In [70]:
df['compound']  = df['ps'].apply(lambda score_dict: score_dict['compound'])

df.head()

,sentiment,comment,scores,compound,comp_score,ps
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125,neg,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co..."
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618,neg,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com..."
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.067, 'neu': 0.783, 'pos': 0.15, 'com...",0.9953,pos,"{'neg': 0.067, 'neu': 0.783, 'pos': 0.15, 'com..."
3,pos,according to hollywood movies made in last few...,"{'neg': 0.069, 'neu': 0.786, 'pos': 0.145, 'co...",0.9972,pos,"{'neg': 0.069, 'neu': 0.786, 'pos': 0.145, 'co..."
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.09, 'neu': 0.822, 'pos': 0.088, 'com...",-0.7264,neg,"{'neg': 0.09, 'neu': 0.822, 'pos': 0.088, 'com..."

In [71]:
df['cs'] = df['compound'].apply(lambda c: 'pos' if c >=0 else 'neg')

df.head()

,sentiment,comment,scores,compound,comp_score,ps,cs
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125,neg,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",neg
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618,neg,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",neg
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.067, 'neu': 0.783, 'pos': 0.15, 'com...",0.9953,pos,"{'neg': 0.067, 'neu': 0.783, 'pos': 0.15, 'com...",pos
3,pos,according to hollywood movies made in last few...,"{'neg': 0.069, 'neu': 0.786, 'pos': 0.145, 'co...",0.9972,pos,"{'neg': 0.069, 'neu': 0.786, 'pos': 0.145, 'co...",pos
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.09, 'neu': 0.822, 'pos': 0.088, 'com...",-0.7264,neg,"{'neg': 0.09, 'neu': 0.822, 'pos': 0.088, 'com...",neg

In [72]:
#check accuracy 
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [73]:
accuracy_score(df['sentiment'],df['comp_score'])

0.6367389060887513

In [74]:
print(classification_report(df['sentiment'],df['comp_score']))

              precision    recall  f1-score   support

         neg       0.72      0.44      0.55       969
         pos       0.60      0.83      0.70       969

   micro avg       0.64      0.64      0.64      1938
   macro avg       0.66      0.64      0.62      1938
weighted avg       0.66      0.64      0.62      1938

In [75]:
print(confusion_matrix(df['sentiment'],df['comp_score']))

[[427 542]
 [162 807]]